.grid-row {
  display: inline-grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 2px;
  background-color: black;
  padding: 5px;
  
}
div.center {
  margin: auto;
  /* width: 50%; */
  /* height: 50%; */
  padding: 2px;
}

div.cell {
  background: lightblue;
  border: 10px soild rgb(210, 233, 3);
  padding: 0.5em;
  margin: 1px;
}

div.white {
  background: white
}

